<div class="cont">
    <h1 style="text-align: center;">NPM Packages</h1>

    <ul>
        <li><strong>Express.js:</strong> Web framework for handling routes and middleware.</li>
        <li><strong>Express-Handlebars:</strong> Template engine for rendering hbs files.</li>
        <li><strong>Mongoose:</strong> ODM for MongoDB.</li>
        <li><strong>Dotenv:</strong> Loads environment variables from .env file.</li>
        <li><strong>JSON Web Token (JWT):</strong> For authentication.</li>
        <li><strong>Bcrypt:</strong> Password hashing.</li>
        <li><strong>Cookie-parser:</strong> Parses cookies (needed for JWT).</li>
        <li><strong>Multer:</strong> Used for uploading files.</li>
      </ul>

</div>